<h2>Rankingi szachowe - objaśnienia</h2>
<pre>

        Porównanie kategorii i wartości rankingów
        (w mk) z kategoriami i rankingiem FIDE i
            Polskiego Związku Szachowego.

         k	  mk   pkt. Elo

         0         0        0     Program losowy
         1      1000      200     Najsłabsze programy
         2      2000      400     Słabe programy, dzieci od 2 do 3 lat
         3      3000      600     Dzieci od 3 do 4 lat
         4      4000      800     Dzieci od 4 do 5 lat
         5      5000     1000     Zawodnicy bez kategorii
         6      6000     1200     Zawodnicy V kategorii
         7      7000     1400     Zawodnicy IV kategorii
         8      8000     1600     Zawodnicy III kategorii
         9      9000     1800     Zawodnicy II kategorii
        10     10000     2000 	  Zawodnicy I kategorii
        11     11000     2200	  Kandydaci na mistrzów
        12     12000     2400     Mistrzowie
        13     13000     2600     Arcymistrzowie
        14     14000     2800     Superarcymistrzowie
        15     15000     3000     Silne programy (mistrzowie komputerowi)
        16     16000     3200     Bardzo silne programy (arcymistrzowie komputerowi)
        17     17000     3400     Najsilniejsze programy (superarcymistrzowie komputerowi)

   Kategorię  zawodnika  (ilość  kategorii  powyżej  poziomu   zerowego)
   otrzymuje się automatycznie przez podzielenie  rankingu  maksymalnego
   przez 1000 i odrzucenie ułamków.

</pre>
