<h1>Ranking arcymistrzów</h1>
<h2>2015.09.02</h2>
<pre>
    1  Magnus            Carlsen                      1990    14123  2824
    2  Hikaru            Nakamura                     1987    14033  2806
    3  Weselin           Topałow                      1975    13994  2798
    4  Viswanathan       Anand                        1969    13937  2787
    5  Ding              Liren                        1992    13876  2775
    6  Anish             Giri                         1994    13847  2769
    7  Fabiano           Caruana                      1992    13845  2769
    8  Lewon             Aronian                      1982    13814  2762
    9  Jewgienij         Tomaszewski                  1987    13744  2748
   10  Władimir          Kramnik                      1975    13720  2744
   11  Aleksander        Griszczuk                    1983    13703  2740
   12  Maxime            Vachier-Lagrave              1990    13691  2738
   13  Wesley            So                           1993    13685  2737
   14  Siergiej          Karjakin                     1990    13674  2734
   15  Bu                Xiangzhi                     1985    13627  2725
   16  Wang              Yue                          1987    13626  2725
   17  Michael           Adams                        1971    13609  2721
   18  Wei               Yi                           1999    13590  2718
   19  Radosław          Wojtaszek                    1987    13572  2714
   20  Tejmur            Radżabow                     1987    13565  2713
   21  Li                Chao                         1989    13565  2713
   22  Dmitry            Jakowienko                   1983    13562  2712
   23  Borys             Gelfand                      1968    13542  2708
   24  Wang              Hao                          1989    13519  2703
   25  Wasilij           Iwanczuk                     1969    13475  2695
   26  Nikita            Witiugow                     1987    13475  2695
   27  Dmitry            Andriejkin                   1990    13471  2694
   28  Pentala           Harikrishna                  1986    13468  2693
   29  Peter             Swidler                      1976    13460  2692
   30  Rustam            Kasimdżanow                  1979    13456  2691
   31  Ni                Hua                          1983    13447  2689
   32  Szachrijar        Mamediarow                   1985    13413  2682
   33  Paweł             Eljanow                      1983    13411  2682
   34  Arkadij           Naiditsch                    1985    13409  2681
   35  David             Navara                       1985    13407  2681
   36  Aleksander        Moroziewicz                  1977    13401  2680
   37  Anton             Korobow                      1985    13400  2680
   38  Ilia              Smirin                       1968    13389  2677
   39  Leinier           Dominguez                    1983    13388  2677
   40  Baadur            Jobawa                       1983    13350  2670
   41  Aleksiej          Szirow                       1972    13349  2669
   42  Władimir          Małachow                     1980    13349  2669
   43  Maxim             Matlakow                     1991    13343  2668
   44  Ray               Robson                       1994    13338  2667
   45  Peter             Leko                         1979    13334  2666
   46  Siergiej          Rublewski                    1974    13333  2666
   47  Jan-Krzysztof     Duda                         1998    13327  2665
   48  Jan               Niepomniaszczi               1990    13325  2665
   49  Aleksander        Mojsiejenko                  1980    13323  2664
   50  Igor              Łysyj                        1987    13313  2662
   51  Gabriel           Sargissian                   1983    13310  2662
   52  Etienne           Bacrot                       1983    13303  2660
   53  Yu                Yangyi                       1994    13296  2659
   54  Jurij             Kryworuczko                  1986    13293  2658
   55  Siergiej          Fiedorczuk                   1981    13288  2657
   56  Jewgienij         Aleksiejew                   1985    13275  2655
   57  Iwan              Czeparinow                   1986    13267  2653
   58  Francisco         Vallejo Pons                 1982    13261  2652
   59  Jewgienij         Najer                        1977    13256  2651
   60  Denis             Chismatullin                 1984    13254  2650
   61  David             Howell                       1990    13251  2650
   62  Nguyen            Ngoc Truong Son              1990    13249  2649
   63  Władimir          Fiedosiejew                  1995    13240  2648
   64  Rusłan            Ponomariow                   1983    13234  2646
   65  Liviu-Dieter      Nisipeanu                    1976    13233  2646
   66  Martyn            Krawciw                      1990    13233  2646
   67  Aleksander        Areszczenko                  1986    13232  2646
   68  Borys             Graczew                      1986    13230  2646
   69  Le                Quang Liem                   1991    13224  2644
   70  Csaba             Balogh                       1987    13223  2644
   71  Iwan              Bukawszyn                    1995    13217  2643
   72  Rauf              Mamedow                      1988    13210  2642
   73  Jon Ludvig        Hammer                       1990    13208  2641
   74  Daniił            Dubow                        1996    13207  2641
   75  Alex              Lenderman                    1989    13201  2640
   76  Zoltan            Almasi                       1976    13198  2639
   77  Laurent           Fressinet                    1981    13198  2639
   78  Daniel            Fridman                      1976    13197  2639
   79  Matthew           Sadler                       1974    13188  2637
   80  Nigel             Short                        1965    13181  2636
   81  Saleh             Salem                        1993    13180  2636
   82  Baskaran          Adhiban                      1992    13177  2635
   83  Samuel            Shankland                    1991    13172  2634
   84  Siergiej          Żigałko                      1989    13170  2634
   85  Hou               Yifan                        1994    13168  2633
   86  Władimir          Oniszczuk                    1991    13161  2632
   87  Aleksander        Oniszczuk                    1975    13159  2631
   88  Ivan              Ivanisević                   1977    13158  2631
   89  Michaiło          Oleksienko                   1986    13149  2629
   90  Aleksiej          Driejew                      1969    13146  2629
   91  Viktor            Laznicka                     1988    13137  2627
   92  Aleksiej          Goganow                      1991    13134  2626
   93  Gata              Kamsky                       1974    13129  2625
   94  Ivan              Sokolov                      1968    13127  2625
   95  Luka              Lenić                        1988    13127  2625
   96  Vasif             Durarbayli                   1992    13126  2625
   97  Sanan             Sjugirow                     1993    13123  2624
   98  Milos             Perunović                    1984    13119  2623
   99  Zahar             Jefimienko                   1985    13113  2622
  100  Ivan              Sarić                        1990    13112  2622
  101  Santosh Gujrathi  Vidit                        1994    13112  2622
  102  Michaił           Kobalia                      1978    13110  2622
  103  Aleksander        Riazancew                    1985    13109  2621
  104  Georg             Meier                        1987    13107  2621
  105  Ildar             Chairullin                   1990    13105  2621
  106  Władysław         Artemiew                     1998    13104  2620
  107  Nils              Grandelius                   1993    13100  2620
  108  Mateusz           Bartel                       1985    13097  2619
  109  Igor              Kowalenko                    1988    13097  2619
  110  Eltaj             Safarli                      1992    13095  2619
  111  Wiktor            Bołogan                      1971    13092  2618
  112  Kirił             Georgiew                     1965    13092  2618
  113  Surya Shekhar     Ganguly                      1983    13085  2617
  114  Siergiej          Azarow                       1983    13081  2616
  115  Hristos           Banikas                      1978    13071  2614
  116  Andriej           Wołokitin                    1986    13064  2612
  117  Iwan              Popow                        1990    13063  2612
  118  Dariusz           Świercz                      1994    13063  2612
  119  Viorel            Iordachescu                  1977    13063  2612
  120  Siergiej          Mowsesian                    1978    13061  2612
  121  Yuniesky          Quesada                      1984    13061  2612
  122  Krishnan          Sasikiran                    1981    13058  2611
  123  Lu                Shanglei                     1995    13058  2611
  124  Luke              McShane                      1984    13054  2610
  125  Tigran            Petrosjan                    1984    13054  2610
  126  Lazaro            Bruzon                       1982    13051  2610
  127  Varuzhan          Akobian                      1983    13051  2610
  128  Peter             Prohaszka                    1992    13049  2609
  129  Rinat             Jumabajew                    1989    13045  2609
  130  Aleksander        Bielawski                    1953    13043  2608
  131  Maxim             Rodsztein                    1989    13043  2608
  132  Aleksander        Kowczan                      1983    13042  2608
  133  Aleksander        Motylew                      1979    13038  2607
  134  David             Anton Guijarro               1995    13038  2607
  135  Ante              Brkić                        1988    13037  2607
  136  Simen             Agdestein                    1967    13033  2606
  137  Micheil           Mczedliszwili                1979    13026  2605
  138  Władimir          Bakłan                       1978    13018  2603
  139  Aleksander        Łastin                       1976    13015  2603
  140  Viktor            Erdos                        1987    13014  2602
  141  Timur             Gariejew                     1988    13013  2602
  142  Maxim             Turow                        1979    13012  2602
  143  Emil              Sutowski                     1977    13010  2602
  144  Zhou              Jianchao                     1988    13010  2602
  145  Ernesto           Inarkiew                     1985    13008  2601
  146  Loek              Van Wely                     1972    13007  2601
  147  Aleksander        Chalifman                    1966    13005  2601
  148  Wadim             Zwiagincew                   1976    13004  2600
  149  Curt              Hansen                       1964    13004  2600
  150  Anton             Filippow                     1986    12998  2599
  151  Władimir          Jepiszyn                     1965    12990  2598
  152  Markus            Ragger                       1988    12988  2597
  153  Levente           Vajda                        1981    12988  2597
  154  Richard           Rapport                      1996    12984  2596
  155  Robert            Howhannisian                 1991    12984  2596
  156  Bassem            Amin                         1988    12981  2596
  157  Christian         Bauer                        1977    12978  2595
  158  Tigran            Gharamian                    1984    12974  2594
  159  Aleksander        Danin                        1986    12973  2594
  160  Ferenc            Berkes                       1985    12969  2593
  161  Andriej           Wowk                         1991    12969  2593
  162  Dmitry            Kokariew                     1982    12966  2593
  163  Aleksander        Zubow                        1983    12960  2592
  164  Anton             Kowaliow                     1992    12955  2591
  165  Julio             Granda Zuniga                1967    12955  2591
  166  Sebastien         Feller                       1991    12954  2590
  167  Constantin        Lupulescu                    1984    12953  2590
  168  Ioannis           Papaioannou                  1976    12951  2590
  169  Władysław         Borowikow                    1973    12951  2590
  170  Michael           Roiz                         1983    12950  2590
  171  Gawain            Jones                        1987    12950  2590
  172  Falko             Bindrich                     1990    12950  2590
  173  Władysław         Tkaczew                      1973    12947  2589
  174  Sethuraman        Sethuraman                   1993    12940  2588
  175  Zhou              Weiqi                        1986    12937  2587
  176  Zbynek            Hraćek                       1970    12937  2587
  177  Paweł             Smirnow                      1982    12930  2586
  178  Hrant             Melkumian                    1989    12927  2585
  179  Siergiej          Erenburg                     1983    12921  2584
  180  Andriej           Sumec                        1980    12920  2584
  181  Nidżat            Mamedow                      1985    12920  2584
  182  Robin             Van Kampen                   1994    12919  2583
  183  Władimir          Akopian                      1971    12915  2583
  184  Ilja              Niżnik                       1996    12915  2583
  185  Ma                Qun                          1991    12909  2581
  186  Gadir             Guseinow                     1986    12907  2581
  187  Jurij             Sołodowniczenko              1978    12907  2581
  188  Jorge             Cori                         1995    12903  2580
  189  Grzegorz          Gajewski                     1985    12900  2580
  190  Evgeny            Postny                       1981    12888  2577
  191  Aleksander        Szimanow                     1992    12888  2577
  192  Robert            Hübner                       1948    12887  2577
  193  Emilio            Cordova                      1991    12887  2577
  194  Zhao              Jun                          1986    12887  2577
  195  Vladislav         Nevednichy                   1969    12885  2577
  196  Aleksander        Rachmanow                    1989    12884  2576
  197  Johann            Hjartarson                   1963    12883  2576
  198  Borki             Predojević                   1987    12881  2576
  199  Jan               Smeets                       1985    12878  2575
  200  Alexander         Ipatov                       1993    12875  2575
  201  Siergiej          Tiwiakow                     1973    12874  2574
  202  Daniel            Naroditsky                   1995    12874  2574
  203  Josif             Dorfman                      1952    12873  2574
  204  Eduardo           Iturrizaga                   1989    12867  2573
  205  Leonid            Kritz                        1984    12865  2573
  206  Erwin             L'Ami                        1985    12863  2572
  207  David             Baramidze                    1988    12861  2572
  208  Michał            Krasenkow                    1963    12857  2571
  209  Dimitrios         Mastrovasilis                1983    12856  2571
  210  Anna              Muzyczuk                     1990    12856  2571
  211  Robert            Markus                       1983    12853  2570
  212  Dragan            Solak                        1980    12848  2569
  213  Władimir          Potkin                       1982    12846  2569
  214  Aleksander        Szabałow                     1967    12843  2568
  215  Jarosław          Żerebuch                     1993    12841  2568
  216  Anatolij          Karpow                       1951    12839  2567
  217  Kamil             Mitoń                        1984    12838  2567
  218  Jan               Gustafsson                   1979    12831  2566
  219  Jurij             Kuzubow                      1990    12831  2566
  220  Anton             Demczenko                    1987    12825  2565
  221  Jewgienij         Worobiow                     1976    12823  2564
  222  Bojan             Vucković                     1980    12822  2564
  223  Władimir          Burmakin                     1967    12820  2564
  224  Mircea            Parligras                    1980    12819  2563
  225  Igor              Chenkin                      1968    12817  2563
  226  Jewgienij         Miroszniczenko               1978    12816  2563
  227  Axel              Bachmann                     1989    12816  2563
  228  Konstantin        Landa                        1972    12814  2562
  229  Sabino            Brunello                     1989    12814  2562
  230  Paweł             Triegubow                    1971    12812  2562
  231  Predrag           Nikolić                      1960    12810  2562
  232  Alberto           David                        1970    12804  2560
  233  Farruch           Amonatow                     1978    12793  2558
  234  Dimitri           Reinderman                   1972    12793  2558
  235  Borys             Sawczenko                    1986    12792  2558
  236  Siergiej          Wołkow                       1974    12791  2558
  237  Andriej           Żigałko                      1985    12791  2558
  238  Arman             Paszikian                    1987    12789  2557
  239  Aleksiej          Fiedorow                     1972    12788  2557
  240  Abhijeet          Gupta                        1989    12785  2557
  241  Julio             Becerra Rivero               1973    12785  2557
  242  Isan Reynaldo     Ortiz Suarez                 1980    12783  2556
  243  Awetik            Grigorian                    1989    12782  2556
  244  Sandro            Mareco                       1987    12777  2555
  245  Suat              Atalik                       1964    12773  2554
  246  Jewgienij         Romanow                      1988    12769  2553
  247  Ehsan             Ghaem Maghami                1982    12769  2553
  248  Rafael            Leitao                       1979    12766  2553
  249  Borys             Awruch                       1978    12765  2553
  250  Tomasz            Markowski                    1975    12763  2552
  251  Aleksiej          Aleksandrow                  1973    12763  2552
  252  Jurij             Jakowicz                     1962    12762  2552
  253  Bartosz           Soćko                        1978    12761  2552
  254  Paweł             Maletin                      1986    12760  2552
  255  Ivan              Salgado Lopez                1991    12758  2551
  256  Rainer            Buhmann                      1981    12752  2550
  257  Andrei            Istratescu                   1975    12751  2550
  258  Levan             Pantsulaia                   1986    12750  2550
  259  Aleksander        Delczew                      1971    12746  2549
  260  Zaven             Andriasian                   1989    12742  2548
  261  Eduardas          Rozentalis                   1963    12742  2548
  262  Robert            Kempiński                    1977    12737  2547
  263  Aleksander        Miśta                        1983    12735  2547
  264  Oleg              Korniejew                    1969    12734  2546
  265  Zhang             Pengxiang                    1980    12732  2546
  266  Marcin            Dziuba                       1983    12731  2546
  267  Dmitry            Frolianow                    1986    12729  2545
  268  Tomi              Nyback                       1985    12728  2545
  269  Hicham            Hamdouchi                    1972    12727  2545
  270  Alexandr          Fier                         1988    12716  2543
  271  Ildar             Ibragimow                    1967    12712  2542
  272  Robert            Hess                         1991    12707  2541
  273  Bartłomiej        Macieja                      1977    12705  2541
  274  Merab             Gagunaszwili                 1985    12702  2540
  275  Kaido             Kulaots                      1976    12701  2540
  276  Diego             Flores                       1982    12699  2539
  277  Dmitry            Swietuszkin                  1980    12699  2539
  278  Murtas            Każgalejew                   1973    12695  2539
  279  Geetha Narayanan  Gopal                        1989    12693  2538
  280  Aleksander        Zubariew                     1979    12688  2537
  281  Wiaczesław        Zacharcow                    1968    12687  2537
  282  Xu                Jun                          1962    12681  2536
  283  Rafał             Antoniewski                  1980    12679  2535
  284  Chanda            Sandipan                     1983    12672  2534
  285  Hrvoje            Stević                       1980    12665  2533
  286  Alexander         Graf                         1962    12649  2529
  287  Sipke             Ernst                        1979    12637  2527
  288  Miguel            Illescas Cordoba             1965    12623  2524
  289  Jiri              Stoćek                       1977    12622  2524
  290  Zhang             Zhong                        1978    12621  2524
  291  Artiom            Timofiejew                   1985    12619  2523
  292  Romain            Edouard                      1990    12615  2523
  293  Paweł             Ponkratow                    1988    12612  2522
  294  Ruben             Felgaer                      1981    12612  2522
  295  Ahmed             Adly                         1987    12607  2521
  296  Dmitry            Boczarow                     1982    12600  2520
  297  Wiktor            Michalewski                  1972    12589  2517
  298  Yannick           Pelletier                    1976    12579  2515
  299  Dmitry            Kriakwin                     1984    12577  2515
  300  Tamaz             Gelaszwili                   1978    12575  2515
  301  Wadim             Małachatko                   1977    12570  2514
  302  Humpy             Koneru                       1987    12558  2511
  303  Rafael            Waganian                     1951    12556  2511
  304  Gregory           Kajdanow                     1959    12555  2511
  305  Friso             Nijboer                      1965    12554  2510
  306  Vasilios          Kotronias                    1964    12549  2509
  307  Jan               Timman                       1951    12536  2507
  308  Fidel             Corrales Jimenez             1987    12533  2506
  309  Branko            Damljanović                  1961    12532  2506
  310  Jaan              Ehlvest                      1962    12528  2505
  311  Andriej           Sokołow                      1963    12480  2496
  312  Zdenko            Kozul                        1966    12441  2488
  313  Emanuel           Berg                         1981    12440  2488
  314  Peter             Acs                          1981    12438  2487
  315  Lubomir           Ftaćnik                      1957    12438  2487
  316  Igor              Miladinović                  1974    12427  2485
  317  Artur             Jusupow                      1960    12393  2478
  318  Boris             Chatalbaszew                 1974    12235  2447

</pre>
