<h2>Rankingi szachowe</h2>
<h2>Grupy wiekowe</h2>
<h2>2015.09.02</h2>

<pre>
                                    Ranking FIDE 2015-09-01

                                           Juniorzy

   1	 Wei, Yi			 g	 CHN	 2734	  5	 1999
   2	 Artemiev, Vladislav		 g	 RUS	 2675	 11	 1998
   3	 Dubov, Daniil			 g	 RUS	 2661	 11	 1996
   4	 Fedoseev, Vladimir		 g	 RUS	 2659	  0	 1995
   5	 Bukavshin, Ivan		 g	 RUS	 2657	 11	 1995
   6	 Rapport, Richard		 g	 HUN	 2649	 10	 1996
   7	 Duda, Jan-Krzysztof		 g	 POL	 2645	  0	 1998
   8	 Cori, Jorge			 g	 PER	 2637	 18	 1995
   9	 Naroditsky, Daniel		 g	 USA	 2628	 19	 1995
  10	 Anton Guijarro, David		 g	 ESP	 2628	  6	 1995
  11	 Nyzhnyk, Illya			 g	 UKR	 2628	  0	 1996
  12	 Grigoryan, Karen 		 g	 ARM	 2609	 34	 1995
  13	 Burke, John 	 			 USA	 2601	  9	 2001
  14	 Lu, Shanglei			 g	 CHN	 2599	 13	 1995
  15	 Gabuzyan, Hovhannes		 g	 ARM	 2593	  0	 1995
  16	 Bok, Benjamin			 g	 NED	 2586	 11	 1995
  17	 Bluebaum, Matthias		 g	 GER	 2580	 12	 1997
  18	 Wagner, Dennis			 g	 GER	 2579	 17	 1997
  19	 Dragun, Kamil			 g	 POL	 2572	 20	 1995
  20	 Oparin, Grigoriy		 g	 RUS	 2569	 16	 1997
  21	 Idani, Pouya			 g	 IRI	 2569	  9	 1995
  22	 Donchenko, Alexander		 g	 GER	 2568	 16	 1998
  23	 Indjic, Aleksandar		 g	 SRB	 2558	  0	 1995
  24	 Bortnyk, Olexandr		 m	 UKR	 2557	 13	 1996
  25	 Sevian, Samuel			 g	 USA	 2556	  9	 2000
  26	 Vaibhav, Suri			 g	 IND	 2552	  0	 1997
  27	 Ghosh, Diptayan		 m	 IND	 2550	 27	 1998
  28	 Xiong, Jeffery			 m	 USA	 2549	  9	 2000
  29	 Svane, Rasmus			 m	 GER	 2542	 16	 1997
  30	 Van Foreest, Jorden		 m	 NED	 2541	 36	 1999
  31	 Boruchovsky, Avital		 g	 ISR	 2541	  9	 1997
  32	 Rambaldi, Francesco		 m	 ITA	 2540	 29	 1999
  33	 Alekseenko, Kirill		 g	 RUS	 2539	 18	 1997
  34	 Antipov, Mikhail 		 g	 RUS	 2538	 14	 1997
  35	 Eliseev, Urii			 g	 RUS	 2536	  0	 1996
  36	 Bajarani, Ulvi			 g	 AZE	 2535	 27	 1995
  37	 Vakhidov, Jahongir		 g	 UZB	 2532	  9	 1995
  38	 Chigaev, Maksim		 m	 RUS	 2531	  9	 1996
  39	 Pichot, Alan			 m	 ARG	 2528	  9	 1998
  40	 Troff, Kayden 			 g	 USA	 2528	  9	 1998
  41	 Sanal, Vahap			 m	 TUR	 2522	 12	 1998
  42	 Bai, Jinshi			 m	 CHN	 2519	  4	 1999
  43	 Tari, Aryan			 m	 NOR	 2518	 13	 1999
  44	 Kadric, Denis			 g	 BIH	 2518	  9	 1995
  45	 Santos Latasa, Jaime		 m	 ESP	 2517	  5	 1996
  46	 Schroeder, Jan-Christian	 m	 GER	 2513	 19	 1998
  47	 Gledura, Benjamin		 m	 HUN	 2512	 10	 1999
  48	 Abasov, Nijat			 g	 AZE	 2511	  9	 1995
  49	 Gordievsky, Dmitry		 f	 RUS	 2511	  0	 1996
  50	 Henriquez Villagra, Cristobal	 m	 CHI	 2511	  0	 1996
  51	 Karthikeyan, Murali		 g	 IND	 2509	 24	 1999
  52	 Chandra, Akshat		 m	 USA	 2506	 14	 1999
  53	 Goryachkina, Aleksandra	 wg	 RUS	 2497	 11	 1998
  54	 Pechac, Jergus			 f	 SVK	 2495	  9	 2001
  55	 Pardo Simon, David		 m	 ESP	 2491	 27	 1995
  56	 Grover, Sahaj			 g	 IND	 2491	  0	 1995
  57	 Fawzy, Adham			 f	 EGY	 2489	  0	 2000
  58	 Tabatabaei, M.amin		 m	 IRI	 2488	 19	 2001
  59	 Aravindh, Chithambaram 	 g	 IND	 2487	 29	 1999
  60	 Paravyan, David		 m	 RUS	 2486	  0	 1998
  61	 Georgiadis, Nico		 m	 SUI	 2484	  9	 1996
  62	 Moussard, Jules		 m	 FRA	 2480	 20	 1995
  63	 Lugovskoy, Maxim		 m	 RUS	 2478	 35	 1996
  64	 Harutyunian, Tigran 		 m	 ARM	 2476	 35	 1997
  65	 Yuffa, Daniil			 m	 RUS	 2476	  9	 1997
  66	 Drozdowski, Kacper		 m	 POL	 2476	  0	 1996
  67	 Fernandez, Daniel Howard	 m	 ENG	 2474	 18	 1995
  68	 Zakhartsov, Vladimir		 m	 RUS	 2474	 18	 1997
  69	 Yang, Darwin			 m	 USA	 2473	 14	 1996
  70	 Sunilduth Lyna, Narayanan	 m	 IND	 2473	  9	 1998
  71	 Zajic, Milan			 m	 SRB	 2472	  0	 1999
  72	 Triapishko, Olexandr	 		 RUS	 2471	  9	 2000
  73	 Mokshanov, Alexey		 m	 RUS	 2470	  9	 1995
  74	 Lampert, Jonas			 m	 GER	 2469	 20	 1997
  75	 Gagare, Shardul		 m	 IND	 2469	 18	 1997
  76	 Martinez Alcantara,Jose Eduardo f	 PER	 2469	  0	 1999
  77	 Stremavicius, Titas		 m	 LTU	 2466	 25	 1998
  78	 Ma, Zhonghan			 m	 CHN	 2466	  4	 1995
  79	 Ebeling, Daniel		 m	 FIN	 2466	  0	 1996
  80	 Xu, Yinglun	 			 CHN	 2464	 13	 1996
  81	 Mons, Leon			 m	 GER	 2464	  9	 1995
  82	 Moroni, Luca Jr		 f	 ITA	 2462	 18	 2000
  83	 Kriebel, Tadeas		 m	 CZE	 2461	 10	 1995
  84	 Makhmutov, Rail		 f	 RUS	 2461	  0	 1995
  85	 Nenezic, Marko			 m	 SRB	 2460	  0	 1995
  86	 Zenzera, Alexey		 m	 RUS	 2459	  9	 1997
  87	 Salomon, Johan			 m	 NOR	 2458	 18	 1997
  88	 Enkhnar, Enkhbaatar		 f	 MGL	 2458	  9	 1997
  89	 Preotu, Razvan			 m	 CAN	 2456	 14	 1999
  90	 Andersen, Mads			 m	 DEN	 2456	 11	 1995
  91	 Barbot, Pierre			 f	 FRA	 2455	 29	 1995
  92	 Gurevich, Daniel		 f	 USA	 2455	 27	 1997
  93	 Deac, Bogdan-Daniel		 m	 ROU	 2455	 18	 2001
  94	 Basso, Pier Luigi		 f	 ITA	 2455	 16	 1997
  95	 Dastan, Muhammed Batuhan	 m	 TUR	 2454	 13	 1997
  96	 Bellahcene, Bilel		 m	 FRA	 2454	  7	 1998
  97	 Sean, Winshand Cuhendi		 m	 INA	 2452	  0	 1997
  98	 Theodorou, Nikolas	 		 GRE	 2450	 18	 2000
  99	 Usmanov, Vasily		 m	 RUS	 2450	 18	 1996
 100	 Petrov, Nikita			 m	 RUS	 2450	  9	 1996


                                Ranking arcymistrzów 2015-09-02

                                           Juniorzy

    1  Wei               Yi                           1999    13590  2718
    2  Jan-Krzysztof     Duda                         1998    13327  2665
    3  Daniił            Dubow                        1996    13207  2641
    4  Władysław         Artemiew                     1998    13104  2620
    5  Richard           Rapport                      1996    12984  2596
    6  Ilja              Niżnik                       1996    12915  2583
    7  Daniel            Naroditsky                   1995    12874  2574

                                           Seniorzy

    1  Aleksander        Bielawski                    1953    13043  2608
    2  Robert            Hübner                       1948    12887  2577
    3  Josif             Dorfman                      1952    12873  2574
    4  Anatolij          Karpow                       1951    12839  2567
    5  Rafael            Waganian                     1951    12556  2511
    6  Jan               Timman                       1951    12536  2507


                  Maksymalny ranking według wieku w dniach i latach

13  Wei         Yi              1999.03.02  13055  2611  2013.11.11   5276   14
13  Wei         Yi              1999.03.02  13058  2611  2013.11.12   5277   14
13  Wei         Yi              1999.03.02  13059  2611  2013.11.14   5279   14
13  Wei         Yi              1999.03.02  13092  2618  2014.01.06   5332   14
13  Wei         Yi              1999.03.02  13098  2619  2014.02.03   5360   14
13  Magnus      Carlsen         1990.11.30  13143  2628  2006.01.21   5531   15
13  Magnus      Carlsen         1990.11.30  13168  2633  2006.06.02   5663   15
13  Magnus      Carlsen         1990.11.30  13215  2643  2006.06.03   5664   15
13  Wei         Yi              1999.03.02  13223  2644  2015.01.21   5712   15
13  Magnus      Carlsen         1990.11.30  13247  2649  2006.07.24   5715   15
13  Magnus      Carlsen         1990.11.30  13296  2659  2006.07.25   5716   15
13  Magnus      Carlsen         1990.11.30  13298  2659  2006.07.26   5717   15
13  Wei         Yi              1999.03.02  13338  2667  2015.05.20   5831   15
13  Wei         Yi              1999.03.02  13398  2679  2015.05.21   5831   15
13  Wei         Yi              1999.03.02  13438  2687  2015.07.03   5875   16
13  Wei         Yi              1999.03.02  13439  2687  2015.07.17   5889   16
13  Wei         Yi              1999.03.02  13483  2696  2015.07.19   5891   16
13  Wei         Yi              1999.03.02  13484  2696  2015.07.24   5896   16
13  Wei         Yi              1999.03.02  13520  2704  2015.08.21   5924   16
13  Wei         Yi              1999.03.02  13558  2711  2015.08.22   5925   16
13  Wei         Yi              1999.03.02  13592  2718  2015.08.29   5932   16
13  Wei         Yi              1999.03.02  13593  2718  2015.08.30   5933   16
13  Magnus      Carlsen         1990.11.30  13642  2728  2008.02.29   6300   17
13  Magnus      Carlsen         1990.11.30  13646  2729  2008.03.01   6301   17
13  Magnus      Carlsen         1990.11.30  13663  2732  2008.04.23   6354   17
13  Magnus      Carlsen         1990.11.30  13690  2738  2008.05.05   6366   17
13  Magnus      Carlsen         1990.11.30  13743  2748  2008.06.08   6400   17
13  Magnus      Carlsen         1990.11.30  13766  2753  2008.06.10   6402   17
13  Magnus      Carlsen         1990.11.30  13807  2761  2008.06.11   6403   17
13  Magnus      Carlsen         1990.11.30  13847  2769  2008.06.12   6404   17
13  Magnus      Carlsen         1990.11.30  13867  2773  2008.06.15   6407   17
13  Magnus      Carlsen         1990.11.30  13902  2780  2009.11.14   6924   18
13  Magnus      Carlsen         1990.11.30  13948  2789  2009.12.08   6948   19
13  Magnus      Carlsen         1990.11.30  13972  2794  2009.12.09   6949   19
13  Magnus      Carlsen         1990.11.30  13977  2795  2010.01.23   6994   19
13  Magnus      Carlsen         1990.11.30  13985  2797  2010.01.29   7000   19
14  Magnus      Carlsen         1990.11.30  14019  2803  2010.06.20   7142   19
14  Magnus      Carlsen         1990.11.30  14056  2811  2010.06.21   7143   19
14  Magnus      Carlsen         1990.11.30  14057  2811  2011.07.22   7539   20
14  Magnus      Carlsen         1990.11.30  14067  2813  2011.11.17   7657   20
14  Magnus      Carlsen         1990.11.30  14075  2815  2011.12.03   7673   21
14  Magnus      Carlsen         1990.11.30  14089  2817  2011.12.05   7675   21
14  Magnus      Carlsen         1990.11.30  14106  2821  2011.12.10   7680   21
14  Magnus      Carlsen         1990.11.30  14107  2821  2012.01.14   7715   21
14  Magnus      Carlsen         1990.11.30  14138  2827  2012.01.16   7717   21
14  Magnus      Carlsen         1990.11.30  14143  2828  2012.07.31   7914   21
14  Magnus      Carlsen         1990.11.30  14155  2831  2012.10.12   7987   21
14  Magnus      Carlsen         1990.11.30  14179  2835  2012.12.01   8037   22
14  Magnus      Carlsen         1990.11.30  14220  2844  2012.12.02   8038   22
14  Magnus      Carlsen         1990.11.30  14235  2847  2012.12.04   8040   22
14  Magnus      Carlsen         1990.11.30  14264  2852  2012.12.06   8042   22
14  Magnus      Carlsen         1990.11.30  14287  2857  2012.12.07   8043   22
14  Magnus      Carlsen         1990.11.30  14294  2858  2013.01.18   8085   22
14  Magnus      Carlsen         1990.11.30  14313  2862  2013.01.20   8087   22
14  Magnus      Carlsen         1990.11.30  14331  2866  2013.01.22   8089   22
14  Magnus      Carlsen         1990.11.30  14348  2869  2013.01.23   8090   22
14  Magnus      Carlsen         1990.11.30  14363  2872  2013.01.26   8093   22
14  Magnus      Carlsen         1990.11.30  14381  2876  2013.03.19   8145   22
14  Magnus      Carlsen         1990.11.30  14397  2879  2013.03.21   8147   22
14  Magnus      Carlsen         1990.11.30  14399  2879  2014.02.02   8465   23
14  Magnus      Carlsen         1990.11.30  14413  2882  2014.04.20   8542   23
14  Magnus      Carlsen         1990.11.30  14445  2889  2014.04.21   8543   23
14  Magnus      Carlsen         1990.11.30  14362  2872  2014.04.30   8552   23
14  Magnus      Carlsen         1990.11.30  14351  2870  2015.04.26   8913   24
14  Magnus      Carlsen         1990.11.30  14217  2843  2015.06.24   8972   24
14  Magnus      Carlsen         1990.11.30  14203  2840  2015.08.27   9036   24
14  Weselin     Topałow         1975.03.15  14143  2828  2015.08.24  14143   40
14  Viswanathan Anand           1969.12.11  14061  2812  2015.06.24  16631   45
13  Viswanathan Anand           1969.12.11  13954  2790  2015.08.25  16693   45
13  Viswanathan Anand           1969.12.11  13937  2787  2015.09.01  16700   45
13  Borys       Gelfand         1968.06.24  13750  2750  2014.10.04  16903   46
13  Borys       Gelfand         1968.06.24  13721  2744  2014.10.13  16912   46
13  Borys       Gelfand         1968.06.24  13720  2744  2014.10.22  16921   46
13  Borys       Gelfand         1968.06.24  13637  2727  2015.07.16  17188   47
13  Wilhelm     Steinitz        1836.05.17  13373  2674  1890.12.11  19931   54
13  Wilhelm     Steinitz        1836.05.17  13307  2661  1892.01.14  20330   55
13  Wilhelm     Steinitz        1836.05.17  13280  2656  1892.02.28  20375   55
13  Wilhelm     Steinitz        1836.05.17  13269  2653  1894.03.19  21125   57
13  Wilhelm     Steinitz        1836.05.17  13259  2651  1894.03.27  21133   57
13  Wiktor      Korcznoj        1931.03.23  13165  2633  2005.06.19  27117   74
12  Wiktor      Korcznoj        1931.03.23  12579  2515  2011.01.30  29168   79
12  Wiktor      Korcznoj        1931.03.23  12472  2494  2011.11.03  29445   80
12  Wiktor      Korcznoj        1931.03.23  12463  2492  2011.11.11  29453   80


                                        Ranking ogólny

                                          2015-09-02

                                           Juniorzy

    1  Jan-Krzysztof     Duda                         1998    13651  2730
    2  Wei               Yi                           1999    13604  2720
    3  Władysław         Artemiew                     1998    13367  2673
    4  Daniił            Dubow                        1996    13297  2659
    5  Richard           Rapport                      1996    13260  2652
    6  Kacper            Drozdowski                   1996    12615  2523
    7  Grzegorz          Nasuta                       1996    12216  2443
    8  Mikołaj           Tomczak                      1999    11974  2394
    9  Radosław          Gajek                        1998    11919  2383
   10  Jakub             Kosakowski                   2002    11837  2367
   11  Aleksander        Kaczmarek                    1997    11752  2350
   12  Ryszard           Eggink                       1997    11683  2336
   13  Maciej            Mroziak                      1995    11582  2316
   14  Łukasz            Jarmuła                      1998    11569  2313
   15  Igor              Janik                        2000    11564  2312
   16  Kacper            Żochowski                    1996    11549  2309
   17  Filip             Cukrowski                    1996    11534  2306
   18  Mariusz           Kowalczyk                    1997    11457  2291
   19  Bartosz           Nowicki                      1996    11396  2279
   20  Karol             Kucza                        1998    11355  2271
   21  Przemysław        Piotrowski                   1998    11320  2264
   22  Szymon            Gumularz                     2001    11283  2256
   23  Marcin            Smółka                       1996    11202  2240
   24  Paweł             Jarmuła                      1996    11157  2231
   25  Szymon            Kulaś                        1997    11141  2228
   26  Piotr             Mucha                        1997    11112  2222
   27  Jakub             Szóstko                      1999    11110  2222
   28  Witold            Oszczanowski                 1996    11099  2219
   29  Kacper            Tomaszewski                  1997    11095  2219
   30  Piotr             Śnihur                       1998    11077  2215
   31  Damian            Śliwicki                     1997    11051  2210
   32  Szymon            Walter                       2000    11047  2209
   33  Łukasz            Nowak                        1997    11045  2209
   34  Jerzy             Kyć                          1997    11002  2200
   35  Jakub             Suliborski                   1995    10994  2198
   36  Rafał             Faron                        1996    10925  2185
   37  Marek             Chomczyk                     1998    10905  2181
   38  Radosław          Psyk                         2002    10894  2178
   39  Michał            Wiśniewski                   1999    10868  2173
   40  Komil             Khamidov                     1997    10850  2170
   41  Igor              Kowalski                     2001    10833  2166
   42  Mateusz           Budnik                       1996    10827  2165
   43  Mateusz           Eggink                       1996    10820  2164
   44  Kacper            Karwowski                    1998    10814  2162
   45  Maciej            Kowalski                     1997    10782  2156
   46  Maria             Leks                         1995    10750  2150
   47  Jan               Góra                         1995    10733  2146
   48  Karol             Ulanowski                    1997    10725  2145
   49  Konrad            Buś                          1997    10720  2144
   50  Mikołaj           Winiarski                    1999    10707  2141
   51  Filip             Delekta                      1998    10662  2132
   52  Piotr             Renkowski                    1996    10631  2126
   53  Maciej            Kowalec                      1997    10563  2112
   54  Dominik           Lewtak                       1997    10557  2111
   55  Tobiasz           Smal                         1998    10442  2088
   56  Wojciech          Śmieszek                     1998    10393  2078
   57  Daniel            Sanz Wawer                   2003    10390  2078
   58  Ewa               Harazińska                   1998    10332  2066
   59  Przemysław        Kindler                      1998    10312  2062
   60  Przemysław        Filewicz                     1997    10290  2058
   61  Kinga             Pastuszko                    1997    10272  2054
   62  Oliwia            Kiołbasa                     2000    10270  2054
   63  Patryk            Chylewski                    2001    10268  2053
   64  Bartosz           Kotarski                     1999    10265  2053
   65  Jan               Kokoszczyński                2002    10262  2052
   66  Katarzyna         Murawko                      1997    10249  2049
   67  Tomasz            Kałużny                      1997    10245  2049
   68  Jakub             Koitka                       1997    10235  2047
   69  Radosław          Filewicz                     2001    10119  2023
   70  Maciej            Pytel                        2002     9940  1988
   71  Michał            Powałka                      1998     9897  1979
   72  Szymon            Banach                       1996     9896  1979
   73  Franciszek        Sernecki                     2001     9803  1960
   74  Kosma             Pacan-Milej                  2002     9762  1952
   75  Igor              Litner                       1998     9755  1951
   76  Aleksander        Szmer                        2000     9735  1947
   77  Michał            Trendowski                   2000     9688  1937
   78  Antoni            Szustakowski                 2000     9667  1933
   79  Mateusz           Siwek                        1996     9659  1931
   80  Joanna            Kaczmarska                   2001     9643  1928
   81  Jakub             Ogonowski                    1998     9633  1926
   82  Patrycja          Waszczuk                     2003     9560  1912
   83  Gabriela          Burakowska                   1998     9530  1906
   84  Krzysztof         Szczurek                     2003     9506  1901
   85  Przemysław        Laszczak                     2001     9485  1897
   86  Stanisław         Krawiecki                    1998     9447  1889
   87  Kacper            Widelski                     1998     9428  1885
   88  Anna              Rudnik                       1997     9419  1883
   89  Damian            Koseski                      1999     9385  1877
   90  Maciej            Rak                          2001     9370  1874
   91  Maciej            Oleszek                      1999     9370  1874
   92  Paweł             Kozłowski                    2003     9355  1871
   93  Dominik           Rzeszowski                   1999     9277  1855
   94  Antonina          Góra                         1997     9213  1842
   95  Agata             Kowalewska                   1995     9207  1841
   96  Jacek             Wiśniewski                   1999     9151  1830
   97  Jakub             Fus                          2002     9145  1829
   98  Agata             Topolan                      1999     9135  1827
   99  Szymon            Poziomkowski                 2003     9123  1824
  100  Pola              Parol                        2000     9098  1819
  101  Weronika          Posuniak                     1999     9090  1818
  102  Ziemowit          Ossoliński                   2003     9070  1814
  103  Maciej            Kamiński                     2001     9019  1803
  104  Kacper            Jarzębowski                  2001     9002  1800
  105  Farzam            Rokni                        1996     8984  1796
  106  Przemysław        Pytel                        1999     8972  1794
  107  Tymon             Czernek                      2005     8964  1792
  108  Maciej            Strzelecki                   2003     8964  1792
  109  Mateusz           Kurnicki                     2000     8928  1785
  110  Jan               Golecki                      2003     8922  1784
  111  Jonasz            Baum                         2004     8902  1780
  112  Zuzanna           Kalinowska                   2002     8900  1780
  113  Magdalena         Harazińska                   2003     8833  1766
  114  Mikołaj           Dąbrowski                    1999     8813  1762
  115  Hubert            Mamiński                     2001     8805  1761
  116  Wacław            Jasinowicz                   1997     8719  1743
  117  Michał            Bazan                        2000     8712  1742
  118  Krystian          Furmański                    1997     8691  1738
  119  Maciej            Solnicki                     2000     8644  1728
  120  Adam              Sieczkowski                  2005     8568  1713
  121  Mateusz           Bober                        1997     8566  1713
  122  Maria             Malicka                      2003     8428  1685
  123  Pola              Mościcka                     2002     8415  1683
  124  Martyna           Ziziuk                       2000     8353  1670
  125  Jan               Mrozowski                    2000     8349  1669
  126  Tomasz            Woźnica                      1998     8267  1653
  127  Michał            Słoniewski                   2002     8011  1602
  128  Bartosz           Fiszer                       2007     7987  1597
  129  Aleksandra        Michalska                    2002     7947  1589
  130  Michał            Szulejko                     2001     7932  1586
  131  Aleksandra        Tarka                        2003     7922  1584
  132  Antoni            Bubień                       1998     7921  1584
  133  Mikołaj           Brodowski                    2000     7909  1581
  134  Weronika          Soćko                        2000     7896  1579
  135  Weronika          Tkaczyk                      2000     7795  1559
  136  Małgorzata        Gowin                        2001     7748  1549
  137  Michał            Redzisz                      2004     7745  1549
  138  Jakub             Piotrowicz                   2001     7745  1549
  139  Jakub             Hapunik                      2000     7688  1537
  140  Mateusz           Frank                        2002     7686  1537
  141  Piotr             Klukowski                    2001     7681  1536
  142  Matylda           Ossolińska                   2001     7681  1536
  143  Klaudia           Paździerz                    2003     7606  1521
  144  Hubert            Jaszczuk                     2004     7572  1514
  145  Szymon            Soćko                        2002     7558  1511
  146  Tymoteusz         Seń                          2002     7523  1504
  147  Mariusz           Woźnica                      2002     7504  1500
  148  Jakub             Dróżdż                       2000     7453  1490
  149  Jan               Wojnowski                    2003     7444  1488
  150  Dorota            Nowacka                      2001     7391  1478
  151  Maciej            Ciesielski                   2003     7388  1477
  152  Adam              Mrozowski                    1998     7349  1469
  153  Marcin            Dolata                       2004     7308  1461
  154  Michał            Sadowski                     2003     7294  1458
  155  Szymon            Kojło                        2004     7290  1458
  156  Mateusz           Rylski                       2001     7200  1440
  157  Paulina           Paździerz                    2003     7173  1434
  158  Piotr             Sternik                      2005     7164  1432
  159  Maciej            Groszyk                      1998     7051  1410
  160  Filip             Sadowski                     2002     6997  1399
  161  Krzysztof         Iwaszkiewicz                 2005     6974  1394
  162  Alicja            Woźnica                      1999     6907  1381
  163  Tamari            Taliaszwili                  2001     6907  1381
  164  Stanisław         Leleń                        2004     6872  1374
  165  Gerard            Kowalski                     1999     6858  1371
  166  Szymon            Kozłowski                    2004     6827  1365
  167  Jakub             Fiszer                       2004     6808  1361
  168  Bartłomiej        Ostaszewski                  2002     6727  1345
  169  Karol             Baciński                     2003     6710  1342
  170  Michał            Dąbrowski                    2001     6705  1341
  171  Krzysztof         Żuk                          2004     6604  1320
  172  Mateusz           Kapłan                       2001     6539  1307
  173  Michał            Orzechowski                  2006     6457  1291
  174  Marcin            Wasylewski                   1996     6454  1290
  175  Damian            Polak                        1997     6445  1289
  176  Krzysztof         Ciszewski                    2006     6433  1286
  177  Piotr             Kociszewski                  2002     6338  1267
  178  Emilia            Pawłowska                    2005     6192  1238
  179  Michał            Szewczak                     2004     6148  1229
  180  Juliusz           Podgajny                     2005     6137  1227
  181  Maciej            Łempicki                     2001     6121  1224
  182  Konrad            Jasiński                     2006     6109  1221
  183  Krzysztof         Muniak                       2002     5789  1157
  184  Miłosz            Jaszczuk                     2005     5519  1103
  185  Jan               Olsztyński                   2004     5512  1102
  186  Leo               Suska                        2007     4914   982
  187  Stefan            Koźluk                       2003     4865   973
  188  Marek             Kapela                       2004     4649   929
  189  Emilia            Koźluk                       2005     3504   700

                                           Seniorzy

    1  Władimir          Wieriemiejczyk               1951    11925  2385
    2  Anatol            Łokasto                      1946    11923  2384
    3  Włodzimierz       Schmidt                      1943    11788  2357
    4  Giennadij         Biełousow                    1948    11718  2343
    5  Stanisław         Kostyra                      1951    11598  2319
    6  Robert            Bugajski                     1952    11593  2318
    7  Jan               Adamski                      1943    11573  2314
    8  Zbigniew          Księski                      1954    11474  2294
    9  Jan               Kujawski                     1947    11345  2269
   10  Andrzej           Adamski                      1939    11167  2233
   11  Jerzy             Kubień                       1953    11070  2214
   12  Piotr             Gasik                        1951    10857  2171
   13  Antoni            Trylski                      1951    10792  2158
   14  Michał            Praszak                      1952    10729  2145
   15  Ryszard           Grossmann                    1949    10701  2140
   16  Tomasz            Rak                          1955    10575  2115
   17  Janusz            Raszka                       1955    10543  2108
   18  Jerzy             Kot                          1942    10538  2107
   19  Tadeusz           Kieres                       1952    10508  2101
   20  Dionizy           Barwiński                    1940    10333  2066
   21  Grażyna           Szmacińska                   1953    10149  2029
   22  Andrzej           Kawula                       1952    10094  2018
   23  Wacław            Ufnal                        1946     9925  1985
   24  Władysław         Pojedziniec                  1938     9918  1983
   25  Marek             Kośny                        1953     9910  1982
   26  Wiesław           Kadziński                    1955     9784  1956
   27  Krzysztof         Spićak                       1948     9725  1945
   28  Ryszard           Rusin                        1951     9676  1935
   29  Zbigniew          Gregulski                    1952     9638  1927
   30  Jacenty           Łapanowski                   1950     9620  1924
   31  Jerzy             Krupiński                    1945     9516  1903
   32  Jerzy             Krupa                        1954     9512  1902
   33  Elżbieta          Kowalska                     1944     9500  1900
   34  Andrzej           Litwiniec                    1947     9474  1894
   35  Bogdan            Rychlik                      1940     9425  1885
   36  Andrzej           Tomaszewski                  1948     9418  1883
   37  Zbigniew          Cylwik                       1936     9415  1883
   38  Antoni            Wrąbel                       1933     9358  1871
   39  Władysław         Kaska                        1952     9354  1870
   40  Antoni            Szukalski                    1954     9354  1870
   41  Tadeusz           Panek                        1946     9337  1867
   42  Mirosław          Błasiak                      1954     9310  1862
   43  Elżbieta          Sosnowska                    1949     9296  1859
   44  Sławomir          Szmaciński                   1954     9291  1858
   45  Władysław         Długołęcki                   1939     9269  1853
   46  Bogdan            Olejarczyk                   1942     9247  1849
   47  Stanisław         Damian                       1943     9227  1845
   48  Romuald           Składzień                    1949     9211  1842
   49  Janusz            Minko                        1947     9180  1836
   50  Sławomir          Turlejski                    1946     9162  1832
   51  Andrzej           Kania                        1939     9130  1826
   52  Wojciech          Staniszewski                 1938     9106  1821
   53  Adam              Śledziewski                  1947     9084  1816
   54  Ireneusz          Łukasik                      1952     9019  1803
   55  Zbigniew          Litwiniec                    1950     9000  1800
   56  Mieczysław        Wysocki                      1942     8988  1797
   57  Kazimierz         Strojek                      1945     8871  1774
   58  Adam              Wilczyński                   1952     8855  1771
   59  Tadeusz           Jarmołowski                  1951     8832  1766
   60  Michał            Zieliński                    1952     8812  1762
   61  Stefan            Wronicz                      1938     8811  1762
   62  Jan               Plesiuk                      1937     8810  1762
   63  Lech              Kępiński                     1941     8801  1760
   64  Piotr             Wołoszyn                     1948     8800  1760
   65  Leszek            Karnaś                       1948     8787  1757
   66  Edward            Nowak                        1934     8785  1757
   67  Zbigniew          Rudnicki                     1949     8785  1757
   68  Stanisław         Rojek                        1946     8726  1745
   69  Jadwiga           Gasik                        1951     8718  1743
   70  Grzegorz          Benda                        1954     8714  1742
   71  Janusz            Kwiek                        1937     8657  1731
   72  Adam              Tomaszewski                  1947     8657  1731
   73  Stanisław         Pałgan                       1943     8631  1726
   74  Hanna             Bartczak                     1954     8598  1719
   75  Adam              Pawłowski                    1953     8593  1718
   76  Jerzy             Kuźmiński                    1938     8553  1710
   77  Henryk            Budrewicz                    1937     8527  1705
   78  Włodzimierz       Złotkowski                   1946     8507  1701
   79  Ryszard           Duda                         1939     8370  1674
   80  Stanisław         Magierowski                  1932     8321  1664
   81  Eugeniusz         Wiszniowski                  1942     8289  1657
   82  Roman             Głowienkowski                1948     8245  1649
   83  Wiktor            Szydłowski                   1937     8159  1631
   84  Leon              Zinczuk                      1946     8147  1629
   85  Stanisław         Mroczek                      1920     8126  1625
   86  Waldemar          Kowalczyk                    1942     8097  1619
   87  Karol             Koziński                     1930     8079  1615
   88  Bronisław         Jefimow                      1937     8017  1603
   89  Józef             Pasternak                    1932     8000  1600
   90  Krzysztof         Arbaszewski                  1952     7987  1597
   91  Jan               Sobótka                      1952     7986  1597
   92  Stanisław         Siegieda                     1945     7962  1592
   93  Roman             Włodarski                    1938     7935  1587
   94  Piotr             Turek                        1939     7900  1580
   95  Jan               Pęski                        1938     7892  1578
   96  Apoloniusz        Sebzda                       1938     7880  1576
   97  Janusz            Onichimiuk                   1948     7876  1575
   98  Lucjan            Chmielewski                  1953     7800  1560
   99  Mikołaj           Niesteruk                    1938     7790  1558
  100  Marian            Krajewski                    1942     7631  1526
  101  Michał            Białczyński                  1950     7628  1525
  102  Janusz            Markiewicz                   1947     7558  1511
  103  Waldemar          Zdziarski                    1937     7526  1505
  104  Zygmunt           Wiktor                       1941     7486  1497
  105  Bogdan            Sadowski                     1944     7450  1490
  106  Aleksander        Kondrusik                    1945     7395  1479
  107  Franciszek        Jurzyk                       1950     7393  1478
  108  Feliks            Kutrowski                    1941     7378  1475
  109  Stanisław         Michalak                     1942     7326  1465
  110  Marek             Strzelecki                   1945     7292  1458
  111  Eugeniusz         Myśliwiec                    1931     7289  1457
  112  Andrzej           Brochocki                    1950     7268  1453
  113  Zdzisław          Dostaw                       1942     7266  1453
  114  Zbigniew          Jarmulski                    1953     7201  1440
  115  Paweł             Soćko                        1950     7198  1439
  116  Ryszard           Tomczyk                      1943     7174  1434
  117  Mirosław          Szergiel                     1933     7123  1424
  118  Zbigniew          Pilimon                      1951     7091  1418
  119  Jan               Szymankiewicz                1945     7037  1407
  120  Zygmunt           Piela                        1944     7034  1406
  121  Jerzy             Kopeć                        1940     7028  1405
  122  Edmund            Grabarczyk                   1944     7022  1404
  123  Bogdan            Ejchler                      1931     7003  1400
  124  Grzegorz          Sobkiewicz                   1954     6994  1398
  125  Aleksander        Hasiuk                       1940     6860  1372
  126  Roman             Choryło                      1948     6860  1372
  127  Wiesław           Różański                     1941     6840  1368
  128  Zbigniew          Fazan                        1934     6763  1352
  129  Zdzisław          Krzyżanowski                 1949     6761  1352
  130  Tadeusz           Bednarz                      1934     6739  1347
  131  Czesław           Górak                        1933     6645  1329
  132  Włodzimierz       Kołacin                      1952     6562  1312
  133  Jan               Skalski                      1946     6484  1296
  134  Zbigniew          Świderski                    1926     6330  1266
  135  Sylwester         Piechowski                   1938     6213  1242
  136  Andrzej           Gorzelewski                  1934     6079  1215
  137  Leszek            Krupiński                    1948     5912  1182
  138  Jolanta           Domagalska                   1937     5882  1176
  139  Tadeusz           Kolary                       1947     5747  1149
  140  Andrzej           Szopa                        1946     5684  1136
  141  Jacek             Jabłonowski                  1937     5649  1129
  142  Andrzej           Witkowski                    1934     4732   946

</pre>
