<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <img src="images/example.png" style="opacity: 0.9;" width="360"/>
    </div>
    <div class="col-lg-5">
      <h3>Najlepsi zawodnicy :</h3>

      <div ng-repeat="user in userList">
        <div class="row">
          <div class="col-lg-7">{{user[3]}}.{{user[4]}} {{user[5]}}</div>

          <div class="col-lg-2">{{user[7]}}</div>
          <div class="col-lg-3">{{user[8]}}</div>
        </div>

      </div>

    </div>
  </div>

</div>

