<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div id="board" style="width: 400px"></div>
      <input type="button" id="setStartBtn" value="Start" />
    </div>
    <div class="col-lg-5">
      <h3>Najlepsi zawodnicy :</h3>

      <div ng-repeat="user in userList">
        <div class="row">
          <div class="col-lg-7">{{user[0]}}.{{user[1]}}{{user[2]}} </div>

          <div class="col-lg-2">{{user[4]}}</div>
          <div class="col-lg-3">{{user[5]}}</div>

        </div>

      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <h4>Ostatni turniej :</h4>

     <pre>
                                     2015-09-04

           1. Antoni      Trylski                         10117  2023
           2. Adam        Umiastowski                     10000  2000
           3. Bogusław    Borysiak                        10000  2000
           4. Marcin      Pieczonka                        9839  1967
           5. Mirosław    Sadowski                         9612  1922
           6. Stefan      Wronicz                          8981  1796
     </pre>

    </div>

  </div>

</div>

